.docbox{
    overflow: auto;
}
.docbox .nav{
    height: auto;
    float: none;
    width: 100%;
    max-width: none;
}
.nav .navlist{
    display: none;
}
.content{
    overflow: visible;
}
.markdown{
    height: auto;
}