html,body {
	width: 100%;
	height: 100%;
	/*解决移动端点击高亮*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.docbox {
	overflow: hidden;
	height: 100%;
	/*增强移动端页面滑动流畅度*/
	-webkit-overflow-scrolling: touch;
}

.docbox .nav{
	position: relative;
	min-width: 15%;
	max-width: 20%;
	overflow: auto;
	height: 100%;
	background-color: #fafafa;
	float: left;
}
.nav-btn{
	display: none;
	cursor: pointer;
	outline: none;
	float: right;
	margin-top: 2px;
	padding: 9px 10px;
	background: transparent;
	border: none;
	margin-top: -8px;
}
.nav-btn:active{
	background-color: #ddd;

}
.nav-btn-bottom:active{
	background-color: #ddd;
}
.nav-btn:link{
	background-color: #ddd;
}
.nav-btn .btn-bar{
	display: block;
	width: 22px;
	height: 2px;
	background: #555;
}
.btn-bar+.btn-bar{
	margin-top: 4px;
}
.docbox .nav-header  h1 {
	font-size: 21px;
    line-height: 1.1;
    margin-bottom: 15px;
    margin-top: 15px;
    padding:0 3%;
}
.docbox .navlist {
	padding-left: 15px;
	font-size: 13px;
	color: #4183c4;
}
.docbox .navlist p,.docbox .navlist li{
	margin: 18px 15px;
	padding-left: 18px;
	cursor: pointer;
}
.docbox .navlist p.right,.docbox .navlist li.right{
	background: url(/images/rowright.png);
	background-repeat: no-repeat;
	background-size: 13px 13px;
}
.docbox .navlist p.down,.docbox .navlist li.down{
	background: url(/images/rowdown.png);
	background-repeat: no-repeat;
	background-size: 13px 13px;
}
.docbox .navlist ul {
	display: none;
	margin-left: 30px;
}
.docbox .navlist li {
	background: url(/images/book.png);
	background-repeat: no-repeat;
	background-size: 13px 13px;
}
.content {
	height: 100%;
	overflow: auto;
}
.markdown{
	overflow: auto;
	height: 100%;
}
.markdown-body a{
	cursor: pointer;
}
.docbox .navlist p.active,.docbox .navlist li.active,.docbox .nav-header h1.active{
	color: #000000;
}

/*自适应布局*/
@media screen and (max-width: 768px) {
	.docbox{
		overflow: auto;
	}
	.docbox .nav{
		height: auto;
		float: none;
		width: 100%;
		max-width: none;
	}
	.markdown{
		height: auto;
	}
	.nav-btn{
		display: inline-block;
	}
	.nav-btn-bottom{
		display: none;
		margin-right: 3%;
	}
	.nav-content .navlist{
		display: none;
	}
}